<h2>Celebrities</h2>

{{#each listOfCelebrities}}

    <div>
        {{> _celebrityPartial}}
        <a href="/celebrities/{{this._id}}">See Details</a>
    </div>

    <hr>
{{/each}}

<a href="/celebrities">Celebrities</a> <br>
<a href="/celebrities/new">Add a New Celebrity</a>