<h2>New</h2>

<form action="/celebrities/create" method="POST">

    <lable>Name</lable>
    <input type="text" name="name">
    <br>

    <lable>Occupation</lable>
    <input type="text" name="occupation">
    <br>

    <lable>Catch Phrase</lable>
    <input type="text" name="catchPhrase">
    <br>

    <button type="submit">Save Celebrity</button>

</form>