body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navigation {
  background-color: #00B7FF;
 
}

.navigation a {
  color: white
}

.navigation li {
  padding-left: 20px;
  list-style-type: none;
}

.center {
  
  align-items: center;
  align-content: center;
  justify-content: center;
}



