<form action="/movies/{{movie._id}}/reviews/create" method="POST">

    <label for="reviewer">You are: </label>
    <input type="text" id="reviewer" name="reviewer">

    <label>Your words of wisdom: </label>
    <textarea name="content" cols="30" rows="10"></textarea>

    <button type="submit">Submit</button>

</form>